<div class="create-profile">
    <form action="/dashboard" id="profile" class="profile-form">
        <div class="fields">
            <label for="name">Nòmber</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="fields">
            <label for="last-name">Fam</label>
            <input type="text" name="last-name" id="last-name">
        </div>
        <button type="submit" id="submit">
            <span>Krea profíl!</span>
        </button>
    </form>

</div>