
    <form action="/dashboard" id="profile" class="profile-form">
        <div class="fields">
            <label for="name"></label>
            <input type="text" name="name" id="name">
        </div>
        <div class="fields">
            <label for="last-name"></label>
            <input type="text" name="last-name" id="last-name">
        </div>
        <div class="fields">
            <label for="profile-picture"></label>
            <input type="file" name="profile-picture" id="profile-picture">
        </div>
        <button type="submit" id="submit">
            <span>Krea profil!</span>
        </button>
    </form>
