@use 'helpers/mixins' as *;

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
    border-radius: 3rem;
    border: 0;
    padding: 1.6rem 3rem;
    outline-color: var(--primary);
    background: var(--background-light);

    &::placeholder {
        color: var(--placeholder);
    }
}

input[type="checkbox"] {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

form {
    &.task-form {
        width: 100%;
        height: fit-content;
        grid-column: 3/4;
        grid-row: 2/3;

        label {
            display: inline-block;
            color: var(--text-light);
            margin-bottom: 1.5rem;
        }

        .input-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;

            input[type="text"] {
                width: 100%;
            }

            .add-task-button {
                appearance: none;
                display: inline-flex;
                align-items: center;
                border: 0;
                background: var(--background-dark);
                border-radius: 2rem;
                padding: 1.5rem;
                transition: all var(--ease) var(--duration);
                cursor: pointer;

                &:hover,
                &:focus {
                    background: var(--background-dark-hover);
                }
            }
        }
    }

    &.profile-form {
        background: var(--background-light);
        display: flex;
        flex-direction: column;
        height: 34rem;
        width: fit-content;
        padding: 4rem;
        border-radius: 2rem;
        box-shadow: var(--box-shadow);
        border: .2rem solid var(--border);

        @include respond-to(from-md) {
            width: 100%;
        }

        .fields {
            display: flex;
            flex-direction: column;

            label {
                line-height: 2;
            }

            input[type="text"] {
                border: .2rem solid var(--border);
                outline-color: var(--primary);
            }
        }

        button[type="submit"] {
            appearance: none;
            -webkit-appearance: none;
            background: var(--background-dark);
            padding: 1.6rem 4rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: all var(--ease) var(--duration);
            border: 0;
            margin-top: auto;

            span {
                font-family: var(--font-stack);
                color: var(--text-light);
                font-size: 2rem;
            }

            &:hover,
            &:focus {
                background: var(--background-dark-hover);
            }
        }

    }
}